body {
  background: #000;
}
aside {
  margin-top: 2em;
}
.data {
  color: #fff;
  background: #007dbe;
  padding: 1em;
  text-align: right;
}
.data a {
  color: #fff;
  padding: 0 0.5em;
  text-align: center;
}
.data a:hover,
.data i:hover {
  color: #003f60;
  text-decoration: none;
}
.data .fa-bars {
  padding-left: 1.5em;
}
.data .fa-bars:hover {
  font-size: 1.5em;
}
.picture-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: auto;
  padding: 1em 0;
  position: relative;
}
.picture-grid img {
  height: 200px;
  width: 320px;
  margin: 0.5em;
  transition: 1s;
}
.picture-grid img:hover {
  width: 350px;
  height: auto;
  overflow: hidden;
}
.picture-grid .marco {
  bottom: 20px;
  background: rgba(0,0,0,0.75);
  color: #fff;
}
footer {
  overflow: hidden;
}
footer div {
  background: #003f60;
  color: #fff;
  padding: 1em 3em;
}
header {
  background: url("../img/clinic-doctors-glass-127873.jpg");
  background-size: cover;
  height: 100%;
  min-height: 300px;
  padding-bottom: 2rem;
  border-bottom: 5px solid #e2e2e2;
}
header figure {
  text-align: center;
  padding-top: 80px;
}
header figure img {
  max-height: 150px;
}
header h1 {
  font-family: 'Cinzel';
  font-size: 2em;
  margin-top: 20px;
  padding: 0 20px;
  text-align: center;
}
header h5 {
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
}
.center-i-menu {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}
.center-i-menu h2,
.center-i-menu h3 {
  text-align: center;
  color: #007dbe;
}
.center-i-menu h3 {
  font-size: 2em;
  margin: 50px 0 10px 0;
}
.center-i-menu hr {
  border: 1px solid #007dbe;
  margin-top: 20px;
  width: 50%;
}
.center-i-menu p {
  margin-bottom: 30px;
  padding-left: 10%;
  padding-right: 10%;
}
.center-i-menu .consulta-prioritaria,
.center-i-menu .consulta-programada,
.center-i-menu .imagen-diagnostica,
.center-i-menu .laboratorio-clinico,
.center-i-menu .electrocardiografia,
.center-i-menu .terapia-respiratoria {
  display: none;
  color: rgba(0,0,0,0.75);
}
.center-i-menu .container h2 {
  font-size: 1.1em;
  padding: 5px;
}
.center-i-menu .container i {
  font-size: 2.5em;
  padding-top: 1em;
  margin-bottom: 0.5em;
}
.center-i-menu .container h2:hover {
  color: #fff;
  background: #003f60;
  padding-bottom: 1.5em;
  border-radius: 20px;
}
.info-sg {
  background-image: url("../img/pexels-photo-721166.png");
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: auto;
  position: relative;
}
.info-sg a {
  color: #fff;
}
.info-sg a:hover {
  color: #007dbe;
}
.info-sg h4 {
  text-align: right;
  padding: 10px 5% 5px 15px;
}
.info-sg .time {
  padding: 2em;
}
.info-sg .fb-share-button,
.info-sg .fb-root > a {
  position: absolute;
  right: 5%;
  bottom: 7%;
}
.info-sg #space-fb {
  margin-bottom: 2em;
}
.light-blue {
  color: #007dbe;
}
.redchain {
  height: 3em;
  padding-bottom: 50px;
  background: #1a1a1a;
}
.redchain h2,
.redchain a {
  font-size: 16px;
  text-align: center;
  padding-top: 20px;
  color: #fff;
}
.redchain:hover {
  background: #eee;
}
.redchain:hover a {
  color: #d40000;
}
@media all and (max-width: 600px) {
  .picture-grid {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .info-sg h4 {
    font-size: 1em;
  }
}
