c-blue = #007dbe
d-blue = #003f60

.bg
	background url("../img/clinic-doctors-glass-127873.jpg")
	background-size cover
	padding-bottom 2em
	// overflow hidden

.data
	height auto
	margin-top 1.5em
	text-align center
	& i
		padding 5px
		background linear-gradient(180deg, c-blue 0%, d-blue 100%)
		-webkit-background-clip text
		-webkit-text-fill-color transparent

.c-blue
	color c-blue

h1, h2, h3, h4, h5
	font-family: 'Cinzel', serif;
	padding-left 20px
	padding-right 20px

h6
	font-family: 'Gloria Hallelujah', cursive;
	padding-left 20px
	padding-right 20px

header
	min-height 320px
	& figure
		text-align center
		& img
			height 100px
			margin-top 20px
	h1
		font-size 24px
		margin-top 20px
		text-align center
	h6
		font-size 0.8em
		text-align center
		
main
	overflow hidden
	& h2
		font-size 1em
	& .services
		min-height 500px
		position relative
		& .box
			background rgba(255, 255, 255, .6)
			min-height 280px
			width 90%
			border-radius 20px
			bottom 0
			margin-bottom 20px
			position absolute
			& button
				text-align left
				width auto
				padding 0.3em
				position relative
				left 15px
				margin-bottom 15px
				background c-blue
				border 0
				color white
				border-radius 10px
				& i
					color white
			& button:hover
				transition background 2s
				transition width 2s
				-webkit-transition background 2s
				-webkit-transition width 2s
				-moz-transition background 2s
				-moz-trasition width 2s
				background d-blue
				width 80%
			& hr
				border 1px solid c-blue
			& h2
				padding-top 2em
			& i
				color black
				padding-right 10px
			& p
				padding-left 15px
				padding-right 15px
		& .service-1, .service-2, .service-3, .service-4, .service-5, .service-6 
			border-radius 20px
			border 5px solid white
			overflow hidden
			min-height 350px
			background-size cover
			background-repeat no-repeat
	& .service-1
		background url("../img/clinic-doctors-glass-127873b.jpg")
	& .service-2
		background url("../img/achievement-adult-care-1323864.jpg")
	& .service-3
		background url("../img/pexels-photo-721166.jpeg")
	& .service-4
		background url("../img/microscope-slide-research-close-up-60022.jpeg")
	& .service-5
		background url("../img/pexels-photo-1516648.jpeg")
	& .service-6
		background url("../img/pexels-photo-1321728.jpeg")
			
		

@import "media"