c-blue = #007bff

.data
	height 150px
	margin-top 2em
	text-align center
	// background red
	width 100%
	& i
		color c-blue

.c-blue
	color c-blue

h1, h2, h3, h4, h5
	font-family: 'Cinzel', serif;
	padding-left 20px
	padding-right 20px

h6
	font-family: 'Gloria Hallelujah', cursive;
	padding-left 20px
	padding-right 20px

header
	min-height 400px
	& figure
		text-align center
		& img
			height 100px
			margin-top 20px
	h1
		font-size 24px
		margin-top 20px
		text-align center
	h6
		font-size 0.8em
		text-align center
