light-blue = #007dbe
dark-blue = #003f60
redchain =  #d40000

body
	background black

aside
	margin-top 2em
	
.data
	color white
	background light-blue
	padding 1em
	text-align right
	// z-index 1
	// width 100%
	& a
		color white
		padding 0 0.5em
		text-align center
	& a:hover
	& i:hover
		color dark-blue
		text-decoration none
	& .fa-bars
		padding-left 1.5em
	& .fa-bars:hover
		font-size 1.5em

.picture-grid
	// background black
	display flex
	flex-wrap wrap
	justify-content center
	min-height auto
	padding 1em 0
	position relative
	& img
		height 200px
		width 320px
		margin 0.5em
		transition 1s
	& img:hover
		width 350px
		height auto
		overflow hidden
	& .marco
		bottom 20px
		background rgba(0, 0, 0, .75)
		color white
	
footer
	overflow hidden
	div
		background dark-blue
		color white
		padding 1em 3em

header
	background url("../img/clinic-doctors-glass-127873.jpg")
	background-size cover
	height 100%
	min-height 300px
	padding-bottom 2rem
	border-bottom 5px solid #e2e2e2
	& figure
		text-align center
		padding-top 80px
		& img
			// max-height auto
			width 250px
		#sg
			max-width 100px
	h1
		font-family: 'Cinzel';
		font-size 2em
		margin-top 20px
		padding 0 20px
		text-align center
	h5
		font-family: 'Gloria Hallelujah', cursive;
		// font-size 0.8em
		text-align center

.center-i-menu
	text-align center
	margin-top 2em
	margin-bottom 2em
	h2, h3
		text-align center
		color light-blue
	h3
		font-size 2em
		margin 50px 0 10px 0
	hr
		border 1px solid light-blue
		margin-top 20px
		width 50%
	p
		margin-bottom 30px
		padding-left 10%
		padding-right 10%
	.consulta-prioritaria
	.consulta-programada
	.imagen-diagnostica
	.laboratorio-clinico
	.electrocardiografia
	.terapia-respiratoria
		display none
		color rgba(0, 0, 0, .75)
	& .container
		& h2
			font-size 1.1em
			// background #eee
			// box-shadow 5px  10px 20px 2px rgba(0, 0, 0, .3)
			// min-height 220px
			// border-radius 30px
			padding 5px
		i
			font-size 2.5em
			padding-top 1em
			margin-bottom 0.5em
		& h2:hover
			color white
			background dark-blue
			padding-bottom 1.5em
			border-radius 20px
			// height 240px

.info-sg
	background-image url('../img/pexels-photo-721166.png')
	background-attachment fixed
	background-position right
	background-repeat no-repeat
	background-size cover
	min-height auto
	position relative
	a
		color white
	a:hover
		color light-blue
	h4
		text-align right
		padding 10px 5% 5px 15px
	.time
		padding 2em
	.fb-share-button, .fb-root > a
		position absolute
		right 5%
		bottom 7%
	#space-fb
		margin-bottom 2em
			
.light-blue
	color light-blue
	
.redchain
	height 3em
	padding-bottom 50px
	background #1a1a1a
	& h2
	& a
		font-size 16px
		text-align center
		padding-top 20px
		color white
.redchain:hover
	background #eee
	& a
		color redchain

@media all and (max-width: 600px)
	.picture-grid
		display none
		
@import "media"
