// Extra small <576px
// Small ≥576px
// Medium ≥768px
// Large ≥992px 
// Extra large ≥1200px

light-blue = #007dbe
dark-blue = #003f60

@media screen and (max-width: 576px) {
  .info-sg h4 {
    font-size 1em
  }
}