// @media only screen and (min-width: 800px)
// 	.data
// 		background grey
// 		max-width 20%
// 		border-radius 10px 10px
// 	.data i
// 		padding-left 20px
// 		padding-right 20px
// 		background linear-gradient(180deg, white 0%, white 100%)
// 		-webkit-background-clip text
// 		-webkit-text-fill-color transparent
// 		font-size 1.5em