light-blue = #007dbe
dark-blue = #003f60

.row
    margin 0px

.data
	color white
	background light-blue
	padding 1em
	text-align right
	& a
		color white
		padding 0 0.5em
		text-align center
	& a:hover
	& i:hover
		color dark-blue
		text-decoration none
	& .fa-bars
		padding-left 1.5em
	& .fa-bars:hover
		font-size 1.5em

.light-blue
	color light-blue

& .form
	background #f4f4f4
	min-height 300px
	margin-bottom 3em
	position relative
	& i
		color dark-blue
	& img
		right 0
		max-height 400px
		position absolute
		margin-top -50px
	& .center
		padding 0 20px
		margin 5% 0
	

h1
	font-family: 'Cinzel', serif;
	padding 0 20px

header
	background url("../img/clinic-doctors-glass-127873.jpg")
	background-size cover
	height 100%
	min-height 300px
	padding-bottom 2rem
	border-bottom 5px solid #e2e2e2
	& figure
		text-align center
		padding-top 60px
		& img
			height 80px
	
	& *
		margin 0
		padding 0
	h1
		font-size 2em
		margin-top 20px
		padding 0 20px
		text-align center
	h5
		font-family: 'Gloria Hallelujah', cursive;
		font-size 0.8em
		padding 0 20px
		text-align center
		
main
	margin 3rem 0
	& a
		color dark-blue
		text-decoration none
		padding 0.2em
	& a:hover
		text-decoration none
		color light-blue
	& h2
		border-radius 20px
		font-size 1.2em
		padding 0.5em
		text-align center
		transition background 2s
		-webkit-transition: width 2s; /* Safari */
		-moz-transition: width 2s; /* Safari */
		-oz-transition: width 2s; /* Safari */
	& h2:hover
		background light-blue
		border-radius 20px
		color white 
		width 100%
	& i
		margin 0 0 20px 0 
		text-align center
	& .container-intro
		h3
			font-size 2.5em
			text-align center
			margin-bottom 0.5em
		p
			text-align center
			padding 0 5%
		hr
			border-bottom 1px solid rgba(0, 0, 0, .4)
			width 50%
			margin-top 2em
		& a:hover
			font-size 2em
.left
	float left	
.right
	float right

@import "media"
