.row {
  margin: 0px;
}
.data {
  color: #fff;
  background: #007dbe;
  padding: 1em;
  text-align: right;
}
.data a {
  color: #fff;
  padding: 0 0.5em;
  text-align: center;
}
.data a:hover,
.data i:hover {
  color: #003f60;
  text-decoration: none;
}
.data .fa-bars {
  padding-left: 1.5em;
}
.data .fa-bars:hover {
  font-size: 1.5em;
}
.light-blue {
  color: #007dbe;
}
.form {
  background: #f4f4f4;
  min-height: 300px;
  margin-bottom: 3em;
  position: relative;
}
.form i {
  color: #003f60;
}
.form img {
  right: 0;
  max-height: 400px;
  position: absolute;
  margin-top: -50px;
}
.form .center {
  padding: 0 20px;
  margin: 5% 0;
}
h1 {
  font-family: 'Cinzel', serif;
  padding: 0 20px;
}
header {
  background: url("../img/clinic-doctors-glass-127873.jpg");
  background-size: cover;
  height: 100%;
  min-height: 300px;
  padding-bottom: 2rem;
  border-bottom: 5px solid #e2e2e2;
}
header figure {
  text-align: center;
  padding-top: 60px;
}
header figure img {
  height: 80px;
}
header * {
  margin: 0;
  padding: 0;
}
header h1 {
  font-size: 2em;
  margin-top: 20px;
  padding: 0 20px;
  text-align: center;
}
header h5 {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 0.8em;
  padding: 0 20px;
  text-align: center;
}
main {
  margin: 3rem 0;
}
main a {
  color: #003f60;
  text-decoration: none;
  padding: 0.2em;
}
main a:hover {
  text-decoration: none;
  color: #007dbe;
}
main h2 {
  border-radius: 20px;
  font-size: 1.2em;
  padding: 0.5em;
  text-align: center;
  transition: background 2s;
  -webkit-transition: width 2s; /* Safari */
  -moz-transition: width 2s; /* Safari */
  -oz-transition: width 2s; /* Safari */
}
main h2:hover {
  background: #007dbe;
  border-radius: 20px;
  color: #fff;
  width: 100%;
}
main i {
  margin: 0 0 20px 0;
  text-align: center;
}
main .container-intro h3 {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 0.5em;
}
main .container-intro p {
  text-align: center;
  padding: 0 5%;
}
main .container-intro hr {
  border-bottom: 1px solid rgba(0,0,0,0.4);
  width: 50%;
  margin-top: 2em;
}
main .container-intro a:hover {
  font-size: 2em;
}
.left {
  float: left;
}
.right {
  float: right;
}
@media screen and (max-width: 576px) {
  main i {
    font-size: 6em;
    color: #f00;
  }
}
